%h1.intro
  「最近、太ってきたな…」「痩せたいけど運動は毎日はキツイな…」
  %br 
  そんな皆さんにとっておきのダイエット方法をご紹介します。
  %br
  ルールはたった２つです！運動は必要ありません！
  %br
  ① 毎日の食事をメモすること。
%h2.intro2
  (1日2.7回、約15分の記録が一番効果かあると実証されています。
  %br
  おやつや夜食も含めて出来るだけ細かく記録しましょう。)
%h1.intro
  ② 毎日体重計に乗って体重を記録すること。
%h2.intro2
  (お風呂やシャワー上がりが良いでしょう。)
%h1.intro
  簡単ですね！それではさっそく今日から初めてみましょう。
.link_to_new
  = link_to new_blog_path do
    %span 記録を開始
.link_to_new
  = link_to root_path do
    %span2 トップページへ戻る
%h3.intro3
  ↓下記のDaiGoさんの動画を参考にさせて貰いました。
.video
  %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/L9JLjDDh2D8", :width => "560"}  
