* {
  box-sizing: border-box;
}
a{
  cursor: pointer;
  color: #0000EE;
}
.index{
  font-size: 30px;
  text-align: center;
}

.calendar-heading{
  text-align: center;
}
.meals{
  list-style: none;
}
.mealslist{
  text-decoration: none;
  color: #0000EE;
}