// Place all the styles related to the introductions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro{
  font-size: 20px;
  text-align: center;
}
.intro2{
  text-align: center;
}
.intro3{
  text-align: center;
  margin-top: 50px;
}
a{
  text-decoration: none;
}
span{
  font-size: 25px;
}
.link_to_new {
  text-align: center;
}
.video{
  text-align: center;
}